@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	body{
		color: #382821;
		font-size: large;
	}

	/*Title with light outline*/
	h1{
		-webkit-text-fill-color: solid  #382821;
		-webkit-text-stroke: 12px #fffbe4;
		paint-order: stroke fill;
		font-size: 3rem;
		font-weight: bolder;
		align-items: center;
		line-height: 40px;
		letter-spacing: 1%;
	}
	
/* 	Burger Menu
	
	.hamburger {
		display: none;
	}
	
	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: #101010;
	}
	
	Partie Mobile

	.hamburger {
		display: block;
		cursor: pointer;
	}
	
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	} */
}
