@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	body{
		color: #382821;
		font-size: large;
	}
	
	/*Title with light outline*/
	h1 {
		align-items: center;
		line-height: 2.5vh;
		letter-spacing: 1%;
		font-size: 3vh;
	}
	.stroke-title {
		-webkit-text-fill-color: solid #382821;
		-webkit-text-stroke: 1vh #fffbe4;
		paint-order: stroke fill;
		font-weight: bolder;
	}
	
	/*Button to Top*/
	
	.to-top {
		position: fixed;
		bottom: 1vh;
		right: 1vh;
		z-index: 1;
	}
	
	/*To top button text*/
	.to-top-text {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s;
	}
	
	.to-top:hover .to-top-text {
		opacity: 1;
		visibility: visible;
	}
	
	/*Burger Menu*/
	/*Desktop*/
	@media (max-width: 767px) {
		.hamburger {
			display: none;
		}
		
		.bar {
			display: block;
			width: 40px;
			height: 5px;
			margin: 8px auto;
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			background-color: #382821;
		}
		.nav-links {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		
		.nav-items {
			margin-left: 5rem;
			list-style: none;
		}
		
		.nav-items:focus,
		.nav-items:hover {
			box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
			text-decoration: underline;
		}
	}
	
	/*Mobile*/
	
	.hamburger {
		display: block;
		cursor: pointer;
	}
	
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(12.5px) rotate(45deg);
		background-color: #fffbe4
	}
	
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-12.5px) rotate(-45deg);
		background-color: #fffbe4
	}
	
	.nav-links {
		position: fixed;
		left: -100%;
		background-color: #d5edb7;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
	
	.nav-links.active {
		left: 0;
	}
	
	.nav-items {
		margin: 2.5rem 0;
	}
	
	.dashbtn{
		height: 100%;
		font-size:0.8rem;
		padding-left: 1rem;
		padding-right: 0.5rem;
		padding-top: 0.2rem;
		padding-bottom: 0.25rem;
		border: 2px solid #DD4302;
		border-bottom: none;
		border-top-left-radius: 15px;
		
	}
	
	@media only screen and (min-width :790px) {
		.dashbtn {
			padding-right: 2rem;
			font-size:0.875rem;
			
		}
		
	}
	
	.dashbtn:hover{
		text-decoration: underline;
	}
	
	/* CLASSE A APPLIQUER AU BOUTON ACTIF DU MENU PRINCIPAL*/
	.dashbtn-active{
		border-color: #B83700;
		background-color: #DD4302;
		color: #fffbe4;
	}
	
	/* CLASSE A APPLIQUER AU BOUTON ACTIF DU SOUS MENU */
	.dashsubbtn-active{
		background-color: #536140;
	}
	
	


}


