<%- include('partials/header') %>

<main>
	<section className="font-grands text-gray-600">
		<img src=# alt="Un lion choqué">
		<h2>Vous n'avez pas les accès nécessaires.</h2>
	</section>
</main>

<%- include('partials/footer') %>