<%- include('partials/header') %>

<h1>IS IT WORKING ?????</h1>

<main>
  <section class=#>
    <img src=# alt="Unai, la jolie chienne">
    <h2>Lorem Ipsum</h2>
    <p>Nihil quod ad amet. Harum sed enim atque quidem rerum nostrum. Tempora cum ut voluptates in. Error ipsam voluptate ea ea.…</p>
    <a href="/devenir-famille-d-accueil">Devenez famille d'accueil</a>
  </section>
  
  <section class=#>
    <h3>Coup de coeur</h3>
<div class="slider">

  <button class="btn slider_btn" type="button" aria-label="Précédent">&lt;</button>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>
    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>
    <button type="button">Découvrir</button>
  </article>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>
    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>
    <button type="button">Découvrir</button>
  </article>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>

    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>

    <button type="button">Découvrir</button>

  </article>

  <button class="btn slider_btn" type="button" aria-label="Suivant">&gt;</button>

</div>
  </section>
  
  
</main>

<%- include('partials/footer') %>