<%- include('partials/header') %>

<main>
  <section class="block bg-center bg-cover bg-unai h-screen">
    <h1 class="font-grands">Lorem Ipsum</h1>
    <p class="text-fond">Nihil quod ad amet. Harum sed enim atque quidem rerum nostrum. Tempora cum ut voluptates in. Error ipsam voluptate ea ea.…</p>
    <button type="button" href="/devenir-famille-d-accueil" class="rounded-full bg-accents1 text-fond font-bold uppercase p-6">Devenez famille d'accueil</a>
  </section>
  
  <section class=#>
    <h3>Coup de coeur</h3>
<div class="slider">

  <button class="btn slider_btn" type="button" aria-label="Précédent">&lt;</button>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>
    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>
    <button type="button">Découvrir</button>
  </article>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>
    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>
    <button type="button">Découvrir</button>
  </article>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>

    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>

    <button type="button">Découvrir</button>

  </article>

  <button class="btn slider_btn" type="button" aria-label="Suivant">&gt;</button>

</div>
  </section>
  
  
</main>

<%- include('partials/footer') %>