<%- include('partials/header') %>

<main>
  <section class="flex flex-col w-screen h-screen block bg-center bg-cover bg-unai place-content-center">
    <h1 class="font-grands px-12">Lorem Ipsum</h1>
    <p class="text-fond p-12 max-w-2xl">Nihil quod ad amet. Harum sed enim atque quidem rerum nostrum. Tempora cum ut voluptates in. Error ipsam voluptate ea ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, aliquid vitae? Veritatis deserunt perspiciatis expedita ratione adipisci illum accusantium? Veniam maiores voluptatum, commodi quam natus fugit quis debitis facere hic? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores sint quia aliquam quod debitis, ea numquam deleniti cum, iste voluptates possimus molestiae quaerat earum, saepe iure quas dolorem unde animi!</p>
    <div class="px-12">
      <button type="button" href="/devenir-famille-d-accueil" class="rounded-full bg-accents1 text-fond font-bold uppercase p-6">Devenez famille d'accueil</a>
    </div>
  </section>
  
  <section class=#>
    <h3>Coup de coeur</h3>
<div class="slider flex flex-row">

  <button class="btn slider_btn" type="button" aria-label="Précédent">&lt;</button>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>
    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>
    <button type="button">Découvrir</button>
  </article>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>
    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>
    <button type="button">Découvrir</button>
  </article>

  <article class="slider_card">
    <img src="#" alt="">
    <h4>Nom de l'animal</h4>

    <ul>
      <li>Espèce</li>
      <li>Âge</li>
      <li>Département</li>
    </ul>

    <button type="button">Découvrir</button>

  </article>

  <button class="btn slider_btn" type="button" aria-label="Suivant">&gt;</button>

</div>
  </section>
  
  
</main>

<%- include('partials/footer') %>