<%- include('partials/header') %>

<main>
	<div>
		<h1> Qui sommes nous ? </h1>
		<section>
			<div>
				<h3>
					Notre Histoire
				</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel officiis asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium. Animi.
				</p>
			</div>
			<img src=# alt="Le logo Pet Foster Connect">
		</section>
		
		<section>
			<div>
				<h3>
					Nos Missions
				</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel officiis
					asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium. Animi.
				</p>
			</div>
			<img src=# alt="Le logo Pet Foster Connect">
		</section>
		
		<section>
			<div>
				<h3>
					Nos Objectifs
				</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel officiis
					asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium. Animi.
				</p>
			</div>
			<img src=# alt="Le logo Pet Foster Connect">
		</section>
	</div>
</main>

<%- include('partials/footer') %>