<%- include('partials/header') %>

<main>
	<h2>Connexion</h2>
	<section>
		<div>
			<form action="/connexion" method="POST">
				<div>
					<label for="email"><b>E-mail</b></label>
					<input type="text" placeholder="Entrez votre e-mail" name="email" id="email" required />
				</div>
				<div>
					<label for="mot_de_passe"><b>Mot de Passe</b></label>
					<input type="password" placeholder="Entrez votre mot de passe" name="mot_de_passe" id="mot_de_passe" required />
				</div>
				<a href=#>Mot de passe oublié ?</a>
				<button type="submit">Connexion</button>
			</form>
		</div>
	</section>

</main>

<%- include('partials/footer') %>