<%- include('partials/header') %>

<main>
<h2>Connextion</h2>

<form action="POST">
  <!-- email -->
  <!-- Mot de Passe -->
  <!-- Se Connecter -->
  <a href=#>Mot de passe oublié ?</a>
</form>
</main>

<%- include('partials/footer') %>