<%- include('partials/header') %>

<main>
	<Section>
		<h1>Pupuce</h1>
		<div>
			<div class="carrousel">
				<button type="button">Haut</button>
				<img src=# alt="Photo de Pupuce">
				<img src=# alt="Photo de Pupuce">
				<img src=# alt="Photo de Pupuce">
				<button type="button">Bas</button>
			</div>
			<img src=# alt="Photo de Pupuce">
		</div>
		<div>
			<article>
				<h4>Information</h4>
				<div>
					<p>Nom :</p>
					<p>Âge :</p>
					<p>Sexe :</p>
					<p>Espèce :</p>
					<p>Race :</p>
					<p>Couleur :</p>
					<p>Statut :</p>
				</div>
				<div>
					<button>Tag 1</button>
					<button>Tag 2</button>
					<button>Tag 3</button>
				</div>
			</article>
			<article>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, quas nam facilis aperiam sint quaerat itaque
					expedita. Consequuntur eligendi consequatur, quaerat tenetur sequi quae veniam dolore, ex officiis cum commodi?
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, qui dolor quos sed accusantium dolorem, autem
					veritatis earum distinctio aliquid officia ab debitis, ratione rerum magnam a magni eos quidem.
				</p>
				<button type="button">Accueillir</button>
			</article>
		</div>
	</Section>
	
	<!-- Mini association profile -->
	<Section>
		<img src=# alt="Logo de l'association">
		<h3>Nom de l'association</h3>
		<address>
			<p>Adresse postale</p>
			<a href="tel:+33XXXXXXXXX">+33XXXXXXXXX</a>
			<a href="mailto:association@mail.com">association@mail.com</a>
		</address>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni rerum, unde sunt beatae ipsam rem est sequi minus eligendi doloremque aliquid laudantium eos perspiciatis obcaecati ea voluptas harum et?</p>
		<button type="button">En savoir plus</button>
	</Section>
	
	<Section>
		<h3>Ils vous attendent également ...</h3>
		<div class="slider">
		
			<button class="btn slider_btn" type="button" aria-label="Précédent">&lt;</button>
		
			<article class="slider_card">
				<img src="#" alt="">
				<h4>Nom de l'animal</h4>
				<ul>
					<li>Espèce</li>
					<li>Âge</li>
					<li>Département</li>
				</ul>
				<button type="button">Découvrir</button>
			</article>
		
			<article class="slider_card">
				<img src="#" alt="">
				<h4>Nom de l'animal</h4>
				<ul>
					<li>Espèce</li>
					<li>Âge</li>
					<li>Département</li>
				</ul>
				<button type="button">Découvrir</button>
			</article>
		
			<article class="slider_card">
				<img src="#" alt="">
				<h4>Nom de l'animal</h4>
		
				<ul>
					<li>Espèce</li>
					<li>Âge</li>
					<li>Département</li>
				</ul>
		
				<button type="button">Découvrir</button>
		
			</article>
		
			<button class="btn slider_btn" type="button" aria-label="Suivant">&gt;</button>
		
		</div>
	</Section>
	
</main>

<%- include('partials/footer') %>