<%- include('partials/header') %>

<main>
		<Section>
			<address>
				<p>Adresse postale</p>
				<a href="tel:+33XXXXXXXXX">+33XXXXXXXXX</a>
				<a href="mailto:association@mail.com">association@mail.com</a>
			</address>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni rerum, unde sunt beatae ipsam rem
				est sequi minus eligendi doloremque aliquid laudantium eos perspiciatis obcaecati ea voluptas harum et?Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aliquam perferendis ipsam aperiam earum numquam rerum, eum quasi unde dolores temporibus laboriosam eaque, vel hic sapiente cum explicabo debitis! Quo!</p>
				<button type="button">Voir tous nos pensionnaires</button>
		</Section>
		
		<section>
			<h2>Nom de l'assiociation</h2>
			<img src="#" alt="Logo de l'association">
		</section>
		
		
		<Section>
			<h3>Nos derniers arrivants</h3>
			<div class="slider">
			
				<button class="btn slider_btn" type="button" aria-label="Précédent">&lt;</button>
			
				<article class="slider_card">
					<img src="#" alt="">
					<h4>Nom de l'animal</h4>
					<ul>
						<li>Espèce</li>
						<li>Âge</li>
						<li>Département</li>
					</ul>
					<button type="button">Découvrir</button>
				</article>
			
				<article class="slider_card">
					<img src="#" alt="">
					<h4>Nom de l'animal</h4>
					<ul>
						<li>Espèce</li>
						<li>Âge</li>
						<li>Département</li>
					</ul>
					<button type="button">Découvrir</button>
				</article>
			
				<article class="slider_card">
					<img src="#" alt="">
					<h4>Nom de l'animal</h4>
			
					<ul>
						<li>Espèce</li>
						<li>Âge</li>
						<li>Département</li>
					</ul>
			
					<button type="button">Découvrir</button>
			
				</article>
			
				<button class="btn slider_btn" type="button" aria-label="Suivant">&gt;</button>
			
			</div>
		</Section>
		
		<Section>
			<h3>Coup de coeur près de chez vous</h3>
			<div class="slider">
			
				<button class="btn slider_btn" type="button" aria-label="Précédent">&lt;</button>
			
				<article class="slider_card">
					<img src="#" alt="">
					<h4>Nom de l'animal</h4>
					<ul>
						<li>Espèce</li>
						<li>Âge</li>
						<li>Département</li>
					</ul>
					<button type="button">Découvrir</button>
				</article>
			
				<article class="slider_card">
					<img src="#" alt="">
					<h4>Nom de l'animal</h4>
					<ul>
						<li>Espèce</li>
						<li>Âge</li>
						<li>Département</li>
					</ul>
					<button type="button">Découvrir</button>
				</article>
			
				<article class="slider_card">
					<img src="#" alt="">
					<h4>Nom de l'animal</h4>
			
					<ul>
						<li>Espèce</li>
						<li>Âge</li>
						<li>Département</li>
					</ul>
			
					<button type="button">Découvrir</button>
			
				</article>
			
				<button class="btn slider_btn" type="button" aria-label="Suivant">&gt;</button>
			
			</div>
		</Section>
		
</main>
	
<%- include('partials/footer') %>