<%- include('partials/header') %>

<main class="justify-self-stretch flex-1">
  <article class="flex flex-col p-12 mx-auto">
		<h2 class="font-grands text-center my-6 pb-4"> Devenir famille d'accueil </h2>

		<section class="font-body mx-auto w-[94%] bg-zoning rounded-lg shadow dark:bg-gray-800 my-8">
			<div class="py-4">
    		<h3 class="font-grands my-1 pt-6 text-xl text-center">Qu'est-ce qu'une famille d'accueil ?</h3>
				<div class="flex flex-row gap-4">
					<p class="text-texte my-8">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel officiis asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium. Animi.
					</p>
					<img src='/images/404.jpg' class="size-20 py-2" alt="Un animal en détresse">
				</div>
			</div>
		</section>
		
		<section class="font-body mx-auto w-[94%] bg-zoning rounded-lg shadow dark:bg-gray-800 my-8">
			<div class="my-4">
    		<h3 class="font-grands my-1 pt-6 text-xl text-center">Quel est son rôle ?</h3>
				<div class="flex flex-row gap-4">
					<img src="/images/unai.png" class="size-20 my-8" alt="Unai, mascotte officielle de Pet Foster Connect">
					<p class="text-texte my-8">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel officiis
						asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium. Animi.
					</p>
				</div>
			</div>
		</section>
		
		<section class="font-body mx-auto w-[94%] bg-zoning rounded-lg shadow dark:bg-gray-800 my-8">
			<div class="my-4">
    		<h3 class="font-grands my-1 pt-6 text-xl text-center">Pour quels animaux ?</h3>
				<div class="flex flex-row gap-4">
					<p class="text-texte my-8">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel officiis
						asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium. Animi.
					</p>
					<img src="/images/logo.svg" class="size-20 my-8" alt="Le logo Pet Foster Connect">
				</div>
			</div>
		</section>
	</article>
</main>

<%- include('partials/footer') %>