<%- include('partials/header') %>

<main class="justify-self-stretch flex-shrink-0 flex-grow">
	<div>
		<h1> Devenir Famille d'Accueil </h1>
		<section>
			<div>
				<h3>
					Qu'est-ce ?
				</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel
					officiis asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum
					praesentium. Animi.
				</p>
			</div>
			<img src=# alt="Le logo Pet Foster Connect">
		</section>

		<section>
			<div>
				<h3>
					Quel est son rôle ?
				</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel
					officiis
					asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium.
					Animi.
				</p>
			</div>
			<img src=# alt="Le logo Pet Foster Connect">
		</section>

		<section>
			<div>
				<h3>
					Pour quels animaux ?
				</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quod eos ipsum fugiat debitis nobis vel
					officiis
					asperiores officia dolorum, expedita assumenda nesciunt maiores alias ipsa perferendis, earum praesentium.
					Animi.
				</p>
			</div>
			<img src=# alt="Le logo Pet Foster Connect">
		</section>
	</div>
</main>

<%- include('partials/footer') %>