<%- include('partials/header') %>

<main class="justify-self-stretch flex-1">
  <article class="p-12 mx-auto">
    <h2 class="font-grands text-center my-6 pb-4">Foire Aux Questions</h2>

    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, nulla!</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, odio.</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, nisi.</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur qui consequuntur et.</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. At?</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit corrupti eos sint doloremque expedita?</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolorum odio.</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet.</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae qui explicabo quam eos, assumenda velit. Atque reprehenderit corporis amet temporibus sunt consequuntur deleniti nam saepe!</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo impedit numquam a.</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Lorem Ipsum ?</h3>
      <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ratione molestias deserunt fugit ullam!</p>
    

  </article>
  </main>
  

<%- include('partials/footer') %>