<%- include('partials/header') %>

<main>
  <article class="p-12 mx-auto">
    <h2 class="font-grands text-center my-6 pb-4">Mentions Légales</h2>
    <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, vitae? Maiores ut consequatur ducimus sint?</p>
    
    <h3 class="font-grands my-1 pt-6 text-l">Informations Légales</h3>
    <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis itaque necessitatibus reiciendis delectus minima molestiae enim, sed eveniet, facilis doloribus aspernatur asperiores! Ab, tempora? Quidem magnam ipsum sint voluptatibus error perferendis commodi. Quisquam aspernatur optio non molestias, cum facere quasi sint, nemo tempore velit quidem, nostrum vero! Beatae, optio et?</p>
  
    <h3 class="font-grands my-1 pt-6 text-l">Condition Générales d'Utilisation</h3>
    <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis necessitatibus mollitia fugiat quidem error nulla fuga, doloribus quasi id recusandae ratione nisi deserunt reprehenderit corrupti rerum quo aliquam non sit natus ab quaerat, vel dolorem? Inventore numquam distinctio, quibusdam, fugiat hic nam architecto vel sunt minus vero debitis officiis laudantium.</p>
  
    <h3 class="font-grands my-1 pt-6 text-l">Cookies</h3>
    <p class="font-body text-texte text-sm pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, deleniti ipsa asperiores illum error eum? Ipsam rerum porro vitae quibusdam libero voluptatum sunt velit vero?</p>
  
    <h3 class="font-grands my-1 pt-6 text-l">Copyright</h3>
    <p class="font-body text-texte text-sm pb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At inventore, dolorum quas quae mollitia vel quaerat expedita possimus. Voluptate tempore adipisci, provident debitis accusantium sed eligendi quia? Sit accusamus cumque dolores cum. Porro similique nihil dolor culpa earum nulla eveniet tenetur eaque deserunt aut incidunt, corrupti voluptates consequuntur ab voluptas?</p>
  </article>
  </main>
  

<%- include('partials/footer') %>