<%- include('partials/header') %>

<main>
<h2>Création de votre compte</h2>

<form action="/famille/inscription" method="POST">

  <label class=# for="firstname">Prénom</label>
  <input class=# type="text" id="text" name="firstname" placeholder="Charlotte" required>

  <label class=# for="lastname">Nom</label>
  <input class=# type="text" id="text" name="lastname" placeholder="Cripan" required>

  <label class=# for="email">Email</label>
  <input class=# type="email" id="email" name="email" placeholder="chacripan@domain-expansion.io" required>

  <label class=# for="password">Mot de passe</label>
  <input class=# type="password" id="password" name="password" placeholder="*********" required>

  <label class=# for="confirmation">Mot de passe</label>
  <input class=# type="password" id="confirmation" name="confirmation" placeholder="*********" required>

  <input class=# type="submit" value="Valider mon inscription">

</form>
</main>

<%- include('partials/footer') %>