<%- include('partials/header') %>

<main>
<h2>Création de votre compte</h2>

<form action="POST">
  <!-- Nom -->
  <!-- Prénom -->
  <!-- Email -->
  <!-- Mdp -->
  <!-- Confirmer mdp -->
  <!-- Valider mon inscription -->
</form>
</main>

<%- include('partials/footer') %>