<%- include('partials/header') %>

<main>
  <h2>Création de votre compte</h2>
  
  <form action="POST">
    <!-- Votre organisme -->
      <!-- Nom -->
      <!-- Président -->
      <!-- Adresse -->
      <!-- Ville -->
      <!-- Code Postal -->
      <!-- Département -->
      <!-- Téléphone -->
      <!-- N° SIRET -->
      <!-- Email -->
      <!-- Site Web -->

    <!-- Vos animaux -->
      <!-- Checkmarks ici -->

    <!-- Contact -->
      <!-- Nom -->
      <!-- Prénom -->
      <!-- Email -->
      <!-- Téléphone -->

    <!-- Section MDP -->
      <!-- Choisir -->
      <!-- Confirmer -->

    <!-- Valider mon inscription -->
  </form>
  </main>
<%- include('partials/footer') %>