<%- include('partials/header') %>

<main>

  <section class=#>
    <!-- Insérer Search Bar ici -->
  </section>
  
  <section class="#">
    <h2>Nos partenaires</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, nam obcaecati! Dolorem ab illum qui nemo dolor veniam incidunt? Quibusdam dolores magnam maxime sunt? Quas reiciendis cupiditate itaque! Perferendis voluptatem dolore nesciunt et qui ipsum error illo suscipit doloribus, ullam rem vitae porro ex beatae animi consectetur earum quae ea?</p>
  </section>

  <section class=#>
    <!-- Insérer Grid ici -->
  </section>

</main>

<%- include('partials/footer') %>