<%- include('partials/header') %>

<main>

<section class=#>
  <!-- Insérer Search Bar ici -->
</section>

<section class=#>
  <!-- Insérer Grid ici -->
</section>

</main>

<%- include('partials/footer') %>