<%- include('partials/header') %>

<main>
  <h2>Plan du Site</h2>
  <ul>
    <li><a href="/">Accueil</a>
    <li><a href="/connexion">Connexion</a>
    <li><a href="/famille/inscription">Inscription Famille</a>
    <li><a href="/associaton/inscription">Inscription Association</a>
    <li><a href="/famille/profil">Profil Famille d'Accueil</a>
    <li><a href="/association/profil">Profil Association</a>
    <li><a href="/associations">Associations Partenaires</a>
    <li><a href="/animaux">Découvrez nos Animaux</a>
    <li><a href="/demande">Faire une demande d'accueil</a>
    <li><a href="/a-propos">Qui sommes-nous ?</a>
    <li><a href="/faq">Foire Aux Questions</a>
    <li><a href="/devenir-famille-d-accueil">Devenir Famille d'Accueil</a>
    <li><a href="/infos-legales">Informations Légales</a>
    <li><a href="/rgpd">Protection des données - RGPD</a>
    <li><a href="/plan-du-site">Plan du site (vous êtes ici)</a>
    <li><a href="/contact">Contact</a>
  </ul>
</main>
                          
<%- include('partials/footer') %>