<%- include('partials/header') %>

<main>
<h2>Bienvenue sur votre espace personnel</h2>

<nav class=#>
  <ul>
    <li><button class=#>Mon profil</button></li>
    <li><button class=#>Demandes d'accueil</button></li>
    <li><button class=#>Nos animaux</button></li>
  </ul>
</nav>

<div class=#>
  <ul>
    <li>Nos animaux</li>
    <li>Suivi accueils</li>
    <li>Créer un profil</li>
  </ul>
</div>

<section class=#>
  <h3>Suivi des animaux accueillis</h3>

  <div class=#>
    <% animals.forEach(animal => { %>
      <div class=#>
        <h4>Nom Animal</h4>
        <p>Lorem</p>

        <img src="" alt="">

        <button>Details</button>

        <h6>Espèce</h6>
          <p>Lorem</p>

        <h6>Sexe</h6>
          <p>Inconnu</p>

        <h6>Race</h6>
          <p>Ipsum</p>

        <h6>Age</h6>
          <p>Lorem ans</p>

        <% tags.forEach(tag => { %>
          <button><%= tag.nom %></button>
        <% }) %>
      </div>
      
      <div class=#>
        <h4>Famille d'accueil</h4>
        <p>Famille Ipsum</p>

        <h5>Coordonnées</h5>
        <h6>Nom</h6>
          <p>Ipsum</p>

        <h6>Adresse</h6>
          <p>47 rue de Lorem 01000 Ipsum-les-bains</p>

        <h6>Pays</h6>
          <p>Lorem</p>
        
        <h6>Téléphone</h6>
          <p>01 23 45 67 89</p>
        
        <h6>e-mail</h6>
          <p>lorem.ipsum@lorem.ipsum</p>
       
        <h6>Hébergement</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nisi accusantium deleniti. Assumenda, magni distinctio.</p>
      </div>
    <% }) %>
  </section>

</div>
</main>

<%- include('partials/footer') %>