
<!-- Voir le challenge tripodvisor pour l'event listener (pas chez Laura) -->

<div class="slider">

	<button class="btn slider_btn" type="button" aria-label="Précédent">&lt;</button>

	<article class="slider_card">
		<img src="#" alt="">
		<h4>Nom de l'animal</h4>
		<ul>
			<li>Espèce</li>
			<li>Âge</li>
			<li>Département</li>
		</ul>
		<button type="button">Découvrir</button>
	</article>

	<article class="slider_card">
		<img src="#" alt="">
		<h4>Nom de l'animal</h4>
		<ul>
			<li>Espèce</li>
			<li>Âge</li>
			<li>Département</li>
		</ul>
		<button type="button">Découvrir</button>
	</article>

	<article class="slider_card">
		<img src="#" alt="">
		<h4>Nom de l'animal</h4>
		
		<ul>
			<li>Espèce</li>
			<li>Âge</li>
			<li>Département</li>
		</ul>

		<button type="button">Découvrir</button>

	</article>

	<button class="btn slider_btn" type="button" aria-label="Suivant">&gt;</button>

</div>