
<!-- Back to top Button -->
<div class="flex-none">
  <a class="to-top" href="#top"> Haut de page</a>
</div>

<footer class="bg-zoning p-2 drop-shadow-2xl flex-none">
  
  <div>
    <nav class="align-middle text-xs lg:text-sm h-12">
      <ul class="flex flex-row place-content-evenly p-4">
        <li class="hover:text-accents1-light">
          <a href="/infos-legales">Informations Légales</a>
        </li>
        <li class="hover:text-accents1-light">
          <a href="/rgpd">Politique RGPD</a>
        </li>
        <li class="hover:text-accents1-light">
          <a href="/plan">Plan du site</a>
        </li>
        <li class="hover:text-accents1-light">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex flex-col place-content-evenly text-xs lg:text-sm h-8 lg:h-16">
    <p class="text-center">Copyright &copy; PFC 2024</p>
    <p class="text-center">Powered by xxxxx</p>
  </div>
</footer>

</body>
</html>