<footer>

  <!-- Back to top Button -->
  <div>
    <a class="fr-link fr-icon-arrow-up-fill fr-link--icon-left" href="#top"> Haut de page</a>
  </div>
  
  <div>
    <nav class=#>
      <ul>
        <li>
          <a href="/infos-legales">Informations Légales</a>
        </li>
        <li>
          <a href="/rgpd">Politique RGPD</a>
        </li>
        <li>
          <a href="/plan">Plan du site</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <p>Copyright &copy; PFC 2024</p>
    <p>Powered by xxxxx</p>
  </div>
</footer>

</body>
</html>