<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" conctent="Pet Foster Connect, mise en relations entre refuges de protection animale et familles d'accueil">
  <title>Pet Foster Connect</title>
  <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
  
  <!-- Link to Tailwind file -->
  <link rel="stylesheet" href="./output.css">
  <!-- Adding the font Noto Sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
  <!-- Adding the font Grandstander -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
  
</head>

<body>
  <header id="top">
    <a href="/"><img src=# alt="Logo de Pet Foster Connect"></a>
    <h1>Pet Foster Connect</h1>
    
    <!-- Login Navigation -->
    <nav class=#>
      <ul class=#>
        <li class=#>
          <a href="/connexion">Se Connecter</a>
        </li>
        <li class=# style="display:none">
          <a href="/deconnexion">Se Déconnecter</a>
        </li>
        <li class=#>
          <a href="/famille/inscription">Famille</a>
        </li>
        <li class=#>
          <a href="/association/inscription">Association</a>
        </li>
      </ul>
    </nav>
    
    <!-- Social Media Navigation -->
    <nav class=#>
      <a href=# class=#>FB</a>
      <a href=# class=#>Insta</a>
    </nav>
    
    <!-- Menu Navigation -->
    <nav class=#>
      <ul class=#>
        <li class=#>
          <a  tabindex=0 class=# href="/animaux">Nos Animaux</a>
        </li>
        <li class=#>
          <a tabindex=0 class=# href="/associations">Nos Partenaires</a>
        </li>
        <li class=#>
          <a tabindex=0 class=# href="/a-propos">Qui sommes-nous ?</a>
        </li>
        <li class=#>
          <a tabindex=0 class=# href="/faq">Foire aux Questions</a>
        </li>
        <li class=#>
          <a tabindex=0 class=# href="/devenir-famille-d-accueil">Devenez Famille d'accueil</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>