<!-- <%- include('partials/header') %> -->

<main>
	<section>
		<h2>
			Connexion
		</h2>
		<div>
			<form action="" method="post">
				<div>
					<label for="email"><b>E-mail</b></label>
					<input type="text" placeholder="Entrez votre e-mail" name="email" id="email" required />
				</div>
				<div>
					<label for="password"><b>Mot de Passe</b></label>
					<input type="text" placeholder="Entrez votre mot de passe" name="password" id="password" required />
				</div>
				<a href=#>Mot de passe oublié ?</a>
				<button type="submit">Connexion</button>
			</form>
		</div>
	</section>
</main>

<!-- <%- include('partials/footer') %> -->